body {
	background: #1b1b1b;
	color: #a7d129;
/*	font-family: 'Inconsolata', monospace; */
	letter-spacing: 1px;
	line-height: 1em;
	font-family: 'Share Tech Mono', monospace;
	font-weight: 300;
}

#content {
	padding:5px;
    width:100%;
    background-color: #1c1d1c;
    max-width:1024px;
    margin: 24px auto;
}
#header {
	width: 100%; 
	background-color: #191919; 
	border-bottom: solid 1px black;
	border-bottom-right-radius: 2px;
	border-bottom-left-radius: 2px;
}
.chunk {
	background-color: #181728;
	color: aqua;
}

hr{
	color: #123321;
}

/* Textual CSS: */
h3 {
	margin: 2px;
	padding: 2px;
}

h4 {
	margin: 1px;
	padding: 1px;
}

em {
	color: #CFDF47;
	font-weight: lighter;
}
ul{
	list-style: none;
	margin-top: 0px;
	margin-bottom: 4px;
	margin-left: 2px;
}

li{
	color:#81b214;
	font-style: italic;
}

a{
	text-decoration: none;
	color: #9ede73;
}

a:hover,active {
	color: #9ede73;
	font-weight: bold;
}

/* Block Stuff CSS: */
img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 4px;
}

p {
	padding-bottom: 1px;
	padding-top: 1px;
	margin-top: 0px;
	margin-bottom: 0px;
}